<div class="container user">
  <div class="row">
    <div class="col-sm-4 sideNav">
      <a href="/findUser" type="button" class="btn btn-primary profile" data-id="{{id}}">My Profile</a>
      <br>
      <a href="/findUserPost" type="button" class="btn btn-primary feedback" data-id="{{id}}">My Feedback</a>
      <br>
      <a href="/api/getQuestions" type="button" class="btn btn-primary questions" data-id="{{id}}">Questions</a>
      <br>
      <a href="/logout" type="button" class="btn btn-primary questions" data-id="{{id}}">Logout</a>
    </div>
    <div class="col-sm-8 display">
      <h1>Post</h1>
      <br>
      {{#each post}}
      <i class="fas fa-archive archive" data-id="{{id}}"></i><span class="h5">Subject: {{subject}}</span>
      <p>{{content}}</p>
      <p><small>{{createdAt}}</small></p>
      <br>
      {{/each}}
    </div>
  </div>
</div>