<div class="container user">
  <div class="row">
    <div class="col-sm-4 sideNav">
      {{#unless admin}}
      <a href="/findUser" type="button" class="btn btn-primary profile" data-id="{{id}}">My Profile</a>
      <br>
      <a href="/findUserPost" type="button" class="btn btn-primary feedback" data-id="{{id}}">My Feedback</a>
      <br>
      <a href="/api/getQuestions" type="button" class="btn btn-primary questions" data-id="{{id}}">Questions</a>
      {{else}}
      <a href="/findUser" type="button" class="btn btn-primary profile" data-id="{{id}}">My Profile</a>
      <br>
      <a href="/api/posts" type="button" class="btn btn-primary getFeedback">Employee Feedback</a>
      <br>
      <a href="/api/getAnswers" type="button" class="btn btn-primary getAnswers">Employee Answers</a>
      {{/unless}}
    </div>
    <div class="col-sm-8 display">
      <h1>Hey there {{name}}!</h1>
      <h6>Email: {{email}}</h6>
      {{#if admin}}
      <p>Access Level: Manager</p>
      {{else}}
      <p>Access Level: Employee</p>
      {{/if}}
    </div>
  </div>
</div>
<div class="container user">
  {{#unless profile.admin}}
  <div>
    <form class="newMessage" data-id="{{profile.id}}">
      <div class="form-group">
        <label for="formSubject">Subject</label>
        <input type="email" class="form-control" id="formSubject" aria-describedby="emailHelp">
      </div>
      <div class="form-group">
        <label for="formCategory">Category</label>
        <input type="password" class="form-control" id="formCategory">
      </div>
      <div class="form-group">
        <label for="formMessage">Message</label>
        <textarea class="form-control" id="formMessage" rows="3"></textarea>
      </div>
      <button type="submit" class="btn btn-primary">Submit</button>
    </form>
  </div>
  {{else}}
  <div>
    <form class="newQuestion">
      <div class="form-group">
        <label for="formCategory">Category</label>
        <select class="form-control" name="category" id="formCategory">
          <option value="management">management</option>
          <option value="hours">hours</option>
          <option value="coworkers">coworkers</option>
        </select>
      </div>
      <div class="form-group">
        <label for="formQuestion">Question</label>
        <textarea class="form-control" id="formQuestion" rows="3"></textarea>
      </div>
      <button type="submit" class="btn btn-primary">Submit</button>
    </form>
  </div>
  <div>
    <form class="newEmployee">
      <div class="form-group">
        <label for="exampleInputEmail1">Name</label>
        <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
      </div>
      <div class="form-group">
        <label for="exampleInputPassword1">Email</label>
        <input type="password" class="form-control" id="exampleInputPassword1">
      </div>
      <div class="form-group">
        <label for="exampleFormControlSelect1">Admin Access</label>
        <select class="form-control" id="exampleFormControlSelect1">
          <option>False</option>
          <option>True</option>
        </select>
      </div>
      <button type="submit" class="btn btn-primary">Submit</button>
    </form>
  </div>
  {{/unless}}
</div>