<div class="container user">
  <div class="row">
    <div class="col-sm-4 sideNav">
      <a href="/findUser" type="button" class="btn btn-primary profile" data-id="{{id}}">My Profile</a>
      <br>
      <a href="/findUserPost" type="button" class="btn btn-primary feedback" data-id="{{id}}">My Feedback</a>
      <br>
      <a href="/api/getQuestions" type="button" class="btn btn-primary questions" data-id="{{id}}">Questions</a>
      <br>
      <a href="/logout" type="button" class="btn btn-primary questions" data-id="{{id}}">Logout</a>
    </div>
    <div class="col-sm-8 display">
      <h1>Questions</h1>
      {{!-- question dynamic content --}}
      <form id="submitAnswer">
        {{#each question}}
        <p data-id="{{id}}">{{question}}</p>
        <div class="form-check form-check-inline">
          <input class="form-check-input" type="radio" name="{{id}}" id="inlineRadio1" value="1">
          <label class="form-check-label" for="inlineRadio1">1</label>
        </div>
        <div class="form-check form-check-inline">
          <input class="form-check-input" type="radio" name="{{id}}" id="inlineRadio2" value="2">
          <label class="form-check-label" for="inlineRadio2">2</label>
        </div>
        <div class="form-check form-check-inline">
          <input class="form-check-input" type="radio" name="{{id}}" id="inlineRadio3" value="3">
          <label class="form-check-label" for="inlineRadio3">3</label>
        </div>
        <div class="form-check form-check-inline">
          <input class="form-check-input" type="radio" name="{{id}}" id="inlineRadio4" value="4">
          <label class="form-check-label" for="inlineRadio4">4</label>
        </div>
        <div class="form-check form-check-inline">
          <input class="form-check-input" type="radio" name="{{id}}" id="inlineRadio5" value="5" checked>
          <label class="form-check-label" for="inlineRadio5">5</label>
        </div>
        <br>
        {{/each}}
        <br>
        <button type="submit" class="btn btn-primary">Submit</button>
      </form>
    </div>
  </div>
</div>
