<div class="jumbotron header">
  <div class="container">
    <div class="row">
      <div class="col-md-3">
        <img src="../public/assets/images/driftlogo.jpg" class="img-thumbnail float-left" alt="Drift Logo">
      </div>
      <div class="col-md-8">
        <h1 class="display-2">Employee Voice</h1>
        <p class="h2">Prevent Employee Turnover - Catch the Drift!</p>
      </div>
    </div>
  </div>
</div>
<div class="container">
  <div class="row">
    <div class="col-sm-3">
      <div class="grey-bg navlnk">

        <script id="text-template" type="text/x-handlebars-template">
                    <div id="linkcontent">
                        <ul>
                            <li>{{link link1}}</li>
                            <li>{{link link2}}</li>
                            <li>{{link link3}}</li>
                            <li>{{link link4}}</li>
                            <li>{{link link5}}</li>
                            <li>{{link link6}}</li>
                            <li>{{link link7}}</li>
                            <li>{{link link8}}</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-sm-9">
            <div class="grey-bg admincont">
                <p>We recognize that you are the backbone of our company.  Our success is tied to your job satisfaction.</p>
                <p>Each week we will be asking you what we are doing right and where we could improve.  We are in this together.  Please let us know how we are doing.</p>
            </div>

            {{ questionblock questions }}
        </div>
